<div class="banner">
    <div class="logo">
        <img src="../images/emergency.png">
        <p style="position: absolute; transform: translate(28%,-135%); font-weight: bolder;">BloodDonate.com</p>
    </div>
    <div class="navbar">
        <ul>
            <li><a href="/user/dashboard">Home</a></li>
            <li><a href="/user/donateblood">Donate Blood</a></li>
            <li><a href="/user/editprofile">Edit Profile</a></li>
            <li><a href="/user/contactus">Contact Us</a></li>
            <li><a href="/user/logout">Logout</a></li>
        </ul>
    </div>
</div>




<div class="footer">
    <div class="footer-left">
        <div>
        <h6>About us</h6>
        <p>We are fortunate to be leading a healthy life,
           and our blood is constantly regenerating. By 
           donating blood, we are showing our concern 
           for the welfare of others.We are helping 
           to build a healthier and safer environment
           for all. 
        </p>
    </div>
    </div>
    <div class="footer-center">
        <div class="footer-nav">
            <ul>
                <li><a href="/user/dashboard">Home</a></li>
                <li><a href="/user/donateblood">Donate Blood</a></li>
                <li><a href="/user/editprofile">Edit Profile</a></li>
                <li><a href="/user/contactus">Contact Us</a></li>
                <li><a href="/user/logout">Logout</a></li>
            </ul>
        </div>
        <div class="footer-nav">
            <ul>
                <li><a href="">Pictures</a></li>
                <li><a href="">Carrer</a></li>
                <li><a href="">Donation Camp</a></li>
                <li><a href="">Meet Our Team</a></li>
                <li><a href="">Chat With Us</a></li>
            </ul>
        </div>
    </div>
    <div class="footer-right">
        <div>
            <h4>Enter Your Email</h4>
            <input type="email" placeholder="Enter Email">
            <input type="submit" value="Submit Email">
        </div>
</div>