<div class="banner">
    <div class="logo">
        <img src="../images/emergency.png">
        <p style="position: absolute; transform: translate(28%,-135%); font-weight: bolder;">BloodDonate.com</p>
    </div>
    <div class="navbar">
        <ul>
            <li><a href="/user/dashboard">Home</a></li>
            <li><a href="/user/donateblood">Donate Blood</a></li>
            <li><a href="/user/editprofile">Edit Profile</a></li>
            <li><a href="/user/contactus">Contact Us</a></li>
            <li><a href="/user/logout">Logout</a></li>
        </ul>
    </div>
</div>

<div class="main-content">
    <div class="intro">
        <h4>Importance of Blood Donation</h4>
        <h6>The World Blood Donor Day is observed on 14th June every year.</h6>
        <p>Blood donation is one of the most significant contribution that a person can make towards the society.
           It is not harmful for an adult person to donate blood.
           The body of the donor can regenerate the blood within few days.
           It poses no threat to the metabolism of the body.</p>
    </div>
    <div class="info">
        <div class="info-left">
            <i class="far fa-heart"></i>
            <h6>Donate Blood</h6>
            <p>in earlier time, people had fear in blood
               donation.they think that they will become
               weak and loss their strength etc.but now a
               days people had a scientific bent of mind 
               and they have no fear in donating the blood.
               we should all donate the blood to save our earth.</p>        
        </div>
        <div class="info-center">
            <i class="far fa-handshake"></i>
            <h6>Help Others</h6>
            <p>in earlier time, people had fear in blood
                donation.they think that they will become
                weak and loss their strength etc.but now a
                days people had a scientific bent of mind 
                and they have no fear in donating the blood.
                we should all donate the blood to save our earth.</p>
        </div>
        <div class="info-right">
            <i class="fas fa-gift"></i>
            <h6>Share Gift</h6>
            <p>in earlier time, people had fear in blood
                donation.they think that they will become
                weak and loss their strength etc.but now a
                days people had a scientific bent of mind 
                and they have no fear in donating the blood.
                we should all donate the blood to save our earth.</p>
        </div>
    </div>

    <div class="intro">
        <h4>Pictures Of Our Camps</h4>
        <h6>We Work Hard Gor the People Who are in need</h6>
        <p>Hard work is the most important key to success.
            The achievements without hard work are impossible.
            An idle person can never gain anything if they sit and wait for the better opportunity to come.
            The person who is working hard is able to gain the success and happiness in life.</p>
    </div>

    <div class="info-img">
        <div class="img1">        
            <div class="hero-text">
                <h5>Our First Camp</h5>
                <p>we successfully taken the blood of 300 people</p>
                <button>Know More</button>
              </div>
        </div>
        <div class="img2">
            <div class="hero-text">
                <h5>Our Second Camp</h5>
                <p>we successfully taken the blood of 450 people</p>
                <button>Know More</button>
              </div>
        </div>
        <div class="img3">
            <div class="hero-text">
                <h5>Our Third Camp</h5>
                <p>we successfully taken the blood of 512 people</p>
                <button>Know More</button>
              </div>
        </div>
    </div>
</div>

<div class="footer">
    <div class="footer-left">
        <div>
        <h6>About us</h6>
        <p>We are fortunate to be leading a healthy life,
           and our blood is constantly regenerating. By 
           donating blood, we are showing our concern 
           for the welfare of others.We are helping 
           to build a healthier and safer environment
           for all. 
        </p>
    </div>
    </div>
    <div class="footer-center">
        <div class="footer-nav">
            <ul>
                <li><a href="/user/dashboard">Home</a></li>
                <li><a href="/user/donateblood">Donate Blood</a></li>
                <li><a href="/user/editprofile">Edit Profile</a></li>
                <li><a href="/user/contactus">Contact Us</a></li>
                <li><a href="/user/logout">Logout</a></li>
            </ul>
        </div>
        <div class="footer-nav">
            <ul>
                <li><a href="">Pictures</a></li>
                <li><a href="">Carrer</a></li>
                <li><a href="">Donation Camp</a></li>
                <li><a href="">Meet Our Team</a></li>
                <li><a href="">Chat With Us</a></li>
            </ul>
        </div>
    </div>
    <div class="footer-right">
        <div>
            <h4>Enter Your Email</h4>
            <input type="email" placeholder="Enter Email">
            <input type="submit" value="Submit Email">
        </div>
</div>