<div class="bgcolor">
<video autoplay muted loop class="myVideo">
    <source src="../videos/video1.mp4" type="video/mp4">
  </video>
</div>
<div class="content">
    <h1 class="text-position">Blood<span style="color: dodgerblue;">Donation</span></h1>
    <h3 class="text-position">Be a Life Guard. <span style="color: dodgerblue; font-weight: bolder;">Give blood to save life</span></h3>
    <p class="text-position">Many factors determine one’s ability to donate blood, as well as a patient’s ability to receive blood. Firstly, the blood type 
        has to be a match. Some blood types like O and AB are rarer than the others. It is integral that people with these blood types donate as much as they
        can, because clinics do not usually have a large store of these blood types. Secondly, certain measures have to be taken by the donor to ensure that 
        infection does not spread. Urgent situations require an abundance of blood supply. Our unwillingness to donate could equal to someone being in a critical 
        Condition or even losing their life. Individual differences exist in a patient’s health condition. Some people may require more platelets; others may require
        red blood cells. Blood donations enable a patient to receive treatment that fits their condition, thereby, speeding their recovery. Donations also assist surgeons
        in carrying out safe surgery. They can make use of the large supply of suitable blood type, in order to operate on an individual.  Donated blood can be stored up 
        till a specific period of time.To battle the issue of shelf life, we need to make sufficient contributions.</p>
    <a href="/user/login"><button class="btnstyle">Click Here</button></a>
</div>